cliente-x/i28yy5jZmzqqQ52P.json
{
  "createdAt": "2025-07-31T18:20:52.358Z",
  "updatedAt": "2025-07-31T18:22:50.000Z",
  "id": "i28yy5jZmzqqQ52P",
  "name": "IntegracaoTeste",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "01250747-5450-467a-846d-0dfea69f40ec",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1520,
        620
      ],
      "id": "17b7a828-32ec-4090-b4c4-4d82b2c7170b",
      "name": "Webhook",
      "webhookId": "01250747-5450-467a-846d-0dfea69f40ec"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      countlistaprocedimento: $input.first().json.body.listaprocedimento?.split(\"-\").filter(Boolean).length, \n      listaProcedimentoMedico: $input.first().json.body.listaprocedimento?.split(\"-\").filter(Boolean)\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1260,
        620
      ],
      "id": "04798583-64a7-455f-9ced-437f6909e407",
      "name": "Lista procedimentos"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2efda05-515d-49f4-b321-a2fa599e6ce7",
              "name": "countlistaprocedimento",
              "value": "={{ $json.countlistaprocedimento }}",
              "type": "string"
            },
            {
              "id": "41dab367-a15a-4cef-9df8-198171d77130",
              "name": "body.hora",
              "value": "={{ $('Webhook').item.json.body.hora.substring(0,5) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        620
      ],
      "id": "5aa34b33-1962-4655-8b1b-f0f4e432183f",
      "name": "Conta quantidade de procedimentos"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.evento.toUpperCase() }}",
                    "rightValue": "CONFIRMACAO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d9e49ca5-eec8-4b2c-9d03-1d22fca196c6",
                    "leftValue": "={{ $('Webhook').item.json.body.evento.toUpperCase() }}",
                    "rightValue": "LEMBRETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5bb9da52-98fb-4807-85d8-639b0f86ce38",
                    "leftValue": "={{ $('Webhook').item.json.body.evento.toUpperCase() }}",
                    "rightValue": "AVALIACAO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "318f0be9-61bb-4a1e-ba68-5125d618d97b",
                    "leftValue": "={{ $('Webhook').item.json.body.evento.toUpperCase() }}",
                    "rightValue": "RESULTADO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "012c21a8-3490-475a-8b84-fc673d6e967f",
                    "leftValue": "={{ $('Webhook').item.json.body.evento.toUpperCase() }}",
                    "rightValue": "FALTA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d85e6150-9d86-4841-aa6a-2d1dcf842769",
                    "leftValue": "={{ $('Webhook').item.json.body.evento.toUpperCase() }}",
                    "rightValue": "ANIVERSARIO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d952d1f4-69ee-43f0-b173-c22c8bfc28f1",
                    "leftValue": "={{ $('Webhook').item.json.body.evento.toUpperCase() }}",
                    "rightValue": "MENSAGEM",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -800,
        540
      ],
      "id": "183112a4-4367-4610-b911-10e379bcae0f",
      "name": "Verifica evento"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e5469c6-735e-4189-920f-6fed89ab81f3",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd06984d-290d-455a-bcec-33bbc44fcb1a",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "afec172f-172f-4671-8cdf-c9d3630897f8",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13c82d0a-f4e0-4fe2-92a3-0305190cdb7c",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8a4b503f-dc0b-41dc-a87e-f9cca15fd24a",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "5",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa521cfe-8d34-4ab3-abd0-49b63ce108ae",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "6",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0ba730d1-7680-4de6-8cb5-7942aa9d3715",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "7",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e3e70754-3e8c-411e-8073-3c85dc807ee9",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "8",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c218b889-b9d7-44b4-b1e5-ae75b02a1949",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "9",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9eb45d99-a3dd-40b5-bbbb-6b4e0a7403e2",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "10",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "65942235-e4c0-41db-8f19-6095c5651592",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "11",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8840806e-e073-4ae4-8be5-a1434a56ae07",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "12",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da08f74d-88d5-4792-8619-4b189a70b35e",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "13",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1761ceab-d7b4-40dd-8511-429a7d11fdd3",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "14",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9b1fbf50-8586-46fe-a3f5-a82a75f54368",
                    "leftValue": "={{ $json.countlistaprocedimento }}",
                    "rightValue": "15",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -340,
        -260
      ],
      "id": "b12a12e0-220b-48a5-8b38-7131995d78ab",
      "name": "Identifica o template pela quantidade e procedimentos"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "agendamentos",
          "mode": "list",
          "cachedResultName": "agendamentos"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "number",
              "value": "={{ $('Envia de Mensagens').item.json.body.number }}"
            },
            {
              "column": "agendamentoId",
              "value": "={{ $('Envia de Mensagens').item.json.body.agendamentoId }}"
            },
            {
              "column": "cliente",
              "value": "ISO"
            },
            {
              "column": "evento",
              "value": "={{ $('Envia de Mensagens').item.json.body.evento }}"
            },
            {
              "column": "mesage",
              "value": "={{ $json.text }}"
            },
            {
              "column": "sessionId",
              "value": "={{ $json.sessionId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1820,
        -280
      ],
      "id": "2e7c2125-487f-4553-bbf9-6ac5ca0ae7f7",
      "name": "Insere agenda"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.wts.chat/core/v1/contact/phonenumber/{{ $('Envia de Mensagens').item.json.body.number }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"customFields\": {\n    \"codigoPaciente\": \"{{ $('Envia de Mensagens').item.json.body.codigoPaciente }}\",\n    \"senhaLogin\": \"{{ $('Envia de Mensagens').item.json.body.senhaLogin }}\"\n  },\n\t\"fields\": [\n    \"CustomFields\"\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        -280
      ],
      "id": "0d0c1951-6a4e-4580-8f38-5eefba8c6f80",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wts.chat/chat/v1/chatbot/send",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"botKey\": \"70f4d6e9-b166-463a-9a64-6148e348263e\",\n    \"sessionId\": \"{{ $('Edit Fields').item.json.sessionId }}\",\n\t\"options\": {\n      \"hiddenSession\": true     \n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        -280
      ],
      "id": "374bc577-1e3a-4353-8f64-896b097d6bc1",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ce64413-8025-4113-93c1-0c1d75b26120",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "25e74954-fcde-4b57-9019-17765adcb0c1",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        -280
      ],
      "id": "7d4bf7b2-6094-4653-8b3b-08e28a9c3a91",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        -280
      ],
      "id": "bd8e0119-14b8-4f1f-b8e2-e488fac90653",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resource": "chatbot",
        "chatbotKey": "63dfebd0-1f5f-4172-877d-2f2d03c22d62",
        "channelId": "55d43640-0a72-4a05-91a5-1393d966136c",
        "numberToSend": "={{ $('Webhook').item.json.body.number }}",
        "sessionMetadatas": {
          "sessionMetadata": [
            {
              "key": "VR_DATAAGENDADA",
              "value": "={{ $('Webhook').item.json.body.data }}"
            },
            {
              "key": "VR_DIASEMANADATAAGENDADA",
              "value": "={{ $('Webhook').item.json.body.diadasemana }}"
            },
            {
              "key": "VR_HORAAGENDADA",
              "value": "={{ $json.body.hora }}"
            },
            {
              "key": "VR_LISTAPROCEDIMENTOSDIA",
              "value": "={{ $json.listaProcedimentoMedico[0] }}"
            },
            {
              "key": "VR_NOMEPACIENTE",
              "value": "={{ $('Webhook').item.json.body.paciente }}"
            },
            {
              "key": "VR_AGENDAMENTOID",
              "value": "={{ $('Webhook').item.json.body.agendamentoId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-wts.wtsChat",
      "typeVersion": 1,
      "position": [
        -20,
        -280
      ],
      "id": "8133fc38-ab80-4ebd-8497-ba20b43de217",
      "name": "Send chatbot",
      "credentials": {
        "wtsApi": {
          "id": "mQhZgFusVT81AlQc",
          "name": "WTS account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Lista procedimentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista procedimentos": {
      "main": [
        [
          {
            "node": "Conta quantidade de procedimentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conta quantidade de procedimentos": {
      "main": [
        [
          {
            "node": "Verifica evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica evento": {
      "main": [
        [
          {
            "node": "Identifica o template pela quantidade e procedimentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identifica o template pela quantidade e procedimentos": {
      "main": [
        [
          {
            "node": "Send chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insere agenda": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insere agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send chatbot": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "fstapi.fasterisk.com.br",
            "x-real-ip": "201.131.178.85",
            "x-forwarded-for": "201.131.178.85",
            "remote-host": "201.131.178.85",
            "connection": "Upgrade",
            "content-length": "583",
            "user-agent": "insomnia/2023.2.2",
            "content-type": "application/json",
            "authorization": "Bearer pn_kvWhWML4YHpOcOb98eRibnFBQlGlk8HIwqBPeMh2s3s",
            "accept": "*/*"
          },
          "params": {},
          "query": {},
          "body": {
            "number": "5561981537176",
            "endereco": "SGA/SUL Q 915 LT 69A E 70A ",
            "paciente": "FREDERICO BARRIOLO",
            "procedimento": "Consulta eletiva em consultório (no horário normal ou pré estabelecido) - 1",
            "listaprocedimento": "-1",
            "data": "14/04/2025",
            "hora": "15:50:00",
            "medico": "Biara Araújo Anastácio Arruda",
            "agendamentoId": "5093",
            "evento": "confirmacao",
            "tipoAtendimento": "exame",
            "observacaoSala": "332",
            "link": "X341eHr5XRt8QQi8eRrdPw,",
            "codigoPaciente": "55302",
            "senhaLogin": "4654654654",
            "text": "klklhklhklhkl",
            "diadasemana": "sexta-feira"
          },
          "webhookUrl": "http://localhost:5678/webhook/01250747-5450-467a-846d-0dfea69f40ec",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "d78107fc-2b1c-4f3f-9ecd-8f3e8adae487",
  "triggerCount": 0,
  "tags": []
}