cliente-x/VH82YipP29YglJou.json
{
  "data": {
    "createdAt": "2025-07-31T11:04:13.222Z",
    "updatedAt": "2025-07-31T11:52:32.000Z",
    "id": "VH82YipP29YglJou",
    "name": "My workflow 2",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -660,
          -60
        ],
        "id": "516a4dd7-b82d-4778-897f-d810231e6ee3",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n \"page\": {{ $('setInicialPage').first().json.page++ }}\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -220,
          -60
        ],
        "id": "12629eb3-2b09-4ddf-a6fb-990dbace1a19",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "{\n  \"page\": 1\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -440,
          -60
        ],
        "id": "4423a026-00cd-46bb-8472-e1d29fbbdde2",
        "name": "setInicialPage"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e9b36250-8cdb-4827-987f-d6b14dc11578",
                "leftValue": "={{ $('setInicialPage').item.json.page }}",
                "rightValue": 5,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          580,
          -60
        ],
        "id": "447d3164-62bd-4b58-a1e5-5691a5cc3455",
        "name": "If"
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          40,
          -60
        ],
        "id": "476e2b1d-57e0-49d1-8107-e04bfd99bdde",
        "name": "Wait",
        "webhookId": "fb1e32b4-dcd8-4865-a406-fa6c06eabc6c"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "setInicialPage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "setInicialPage": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [],
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "fc35a085-d34d-4009-bc2a-20cb4ea5724b",
    "triggerCount": 0,
    "tags": []
  }
}